<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shenx.appdeveloper">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_user"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomePage.HomePageSelector">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LinearLayout" />
        <activity android:name=".RelativeLayout" />
        <activity android:name=".TextViewActivity" />
        <activity android:name=".ButtonTestActivity" />
        <activity android:name=".EditTextActivity" />
        <activity android:name=".RadioButtonActivity" />
        <activity android:name=".CheckBoxActivity" />
        <activity android:name=".ImageViewActivity" />
        <activity android:name=".listviewActivity.ListViewActivty" />
        <activity android:name=".gridview.GridViewActivity" />
        <activity android:name=".ScrollViewTestActivity" />

    </application>

</manifest>